*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#main-container{
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#overlay{
    filter: blur(1px);
    opacity: 0.4;
}

#nav-icon{
    z-index: 700;
    transition: .7s ease;
}
#content_txt{
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
}

#loc-box{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}